PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
JWT_ISSUER=mf-tracker-api
JWT_AUDIENCE=mf-tracker-web
JWT_CSRF_AUDIENCE=mf-tracker-csrf
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK=http://localhost:5000/auth/google/callback
RAPIDAPI_KEY=
RAPIDAPI_HOST=latest-mutual-fund-nav.p.rapidapi.com
GITHUB_TOKEN=
GITHUB_MODEL=openai/gpt-4.1
